<div class="container">
    <h1 class="text-center">KAVAK</h1>
  <div class="row">
    <div class="col-lg-5 d-flex align-items-center">
      <p class="text-left">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam corrupti dignissimos officia velit aut. Beatae molestiae quos ea culpa ad, porro a numquam laboriosam, dolore perspiciatis accusamus exercitationem sunt amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex animi reiciendis odit, iure minus repudiandae magni sit dicta aliquid, laborum, quis ab soluta aperiam numquam quasi velit rem qui nobis? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique in tempora, dolorem repellendus dolores deserunt blanditiis maiores, magnam impedit veritatis soluta voluptatibus dolore ipsum quidem nesciunt, incidunt cupiditate cum velit!</p>
    </div>
    <div class="col-lg-7">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images.prd.kavak.io/eyJidWNrZXQiOiJrYXZhay1pbWFnZXMiLCJrZXkiOiJpbWFnZXMvMjc5OTkxL0VYVEVSSU9SLWZyb250U2lkZVBpbG90TmVhci0xNjk1ODMxMDk1MzE1LmpwZWciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjgxMCwiaGVpZ2h0Ijo0NjV9fX0=" class="d-block w-100" alt="Slide 1">
          </div>
          <div class="carousel-item">
            <img src="https://images.prd.kavak.io/eyJidWNrZXQiOiJrYXZhay1pbWFnZXMiLCJrZXkiOiJpbWFnZXMvMjQ3NzYyL0VYVEVSSU9SLWZyb250U2lkZVBpbG90TmVhci0xNjgzOTEzNTgxODUwLmpwZWciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjgxMCwiaGVpZ2h0Ijo0NjV9fX0=" class="d-block w-100" alt="Slide 2">
          </div>
          <div class="carousel-item">
            <img src="https://images.prd.kavak.io/eyJidWNrZXQiOiJrYXZhay1pbWFnZXMiLCJrZXkiOiJpbWFnZXMvMjc5NzQ0L0VYVEVSSU9SLWZyb250U2lkZVBpbG90TmVhci0xNjk1NjU4ODM2MTQzLmpwZWciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjgxMCwiaGVpZ2h0Ijo0NjV9fX0=" class="d-block w-100" alt="Slide 3">
        </div>
        <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next " href="#carouselExampleIndicators" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" ></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>

