.btn-primary{
    width: 50%;
    font-size: x-large;
    display: block;
    margin: auto;
}

@media (min-width: 768px){
    .container{
        width: 50%;
    }
    .container{
        font-size: x-large;
    }
    
    .text-danger{
        font-size: medium;
    }
    
}