<section class="container">
  <h1 class="mt-5">Contacto</h1>
  <form class="mt-4" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        placeholder="Ingresa tu nombre"
        formControlName="name"
        [ngClass]="{
          'is-invalid':
            contactForm.get('name')?.errors && contactForm.get('name')?.touched
        }"
      />
      <div
        *ngIf="
          contactForm.get('name')?.errors && contactForm.get('name')?.touched
        "
        class="text-danger"
      >
        <div *ngIf="contactForm.get('name')?.errors">
          <p>Ingresa un nombre</p>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Ingresa tu email"
        formControlName="email"
        [ngClass]="{
          'is-invalid':
            contactForm.get('email')?.errors &&
            contactForm.get('email')?.touched
        }"
      />
      <div
        *ngIf="
          contactForm.get('email')?.errors && contactForm.get('email')?.touched
        "
        class="text-danger"
      >
        <div *ngIf="contactForm.get('email')?.errors?.['required']">
          <p>Este campo es obligatorio</p>
        </div>
        <div *ngIf="contactForm.get('email')?.errors?.['email']">
          <p>Ingresa un email valido</p>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="mensaje" class="form-label">Mensaje</label>
      <textarea
        class="form-control"
        id="mensaje"
        rows="5"
        placeholder="Escribe tu mensaje"
        formControlName="message"
        [ngClass]="{
          'is-invalid':
            contactForm.get('message')?.errors &&
            contactForm.get('message')?.touched
        }"
      >
      </textarea>
      <div
        *ngIf="
          contactForm.get('message')?.errors &&
          contactForm.get('message')?.touched
        "
        class="text-danger"
      >
        <div *ngIf="contactForm.get('message')?.errors">
          <p>Este campo es obligatorio</p>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</section>
