.btn-primary{
    width: 100%;
    font-size: x-large;
}

@media (min-width: 768px){
    .container{
        width: 50%;
    }
    .container{
        font-size: x-large;
    }
    
    
}